<h3>Editar contato</h3>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input 
        [value]="contact.name" 
        id="name" 
        type="text" 
        class="validate"
        placeholder="Nome"
        required>
       
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input 
        [value]="contact.number" 
        id="telephone" 
        type="tel" 
        class="validate"
        placeholder="Telefone"
        required>
        
      </div>
    </div>
  </form>
  <button class="btn light-blue darken-4">Salvar</button>
  <button class="btn grey blue-grey darken-1" routerLink="/contacts">Voltar</button>
</div>


